/.project
/.pydevproject
/.settings/
/.pytest_cache/
/.cache/
/.virtualenv/
/tmp_*/
/build/
/build_doc/
/done/*.done
/try/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
MANIFEST
MANIFEST.in
cprofilerstats*.profile
.DS_Store
