# ------------------------------------------------------------------------------
# Pip requirements file for packages needed for development.
#
# Make sure that the minimum versions required in this file are consistent with
# the minimum versions specified in minimum-constraints.txt.


# ------------------------------------------------------------------------------
# Direct and necessary indirect dependencies for development.
# Must be consistent with minimum-constraints-develop.txt.

# Cookiecutter
cookiecutter>=2.6.0

# Test driver
pytest>=8.4.2
pluggy>=1.6.0

# Flake8 checker
flake8>=7.3.0
mccabe>=0.7.0
pycodestyle>=2.14.0
pyflakes>=3.4.0

# Ruff checker
ruff>=0.15.12

# PyLint checker
pylint>=3.3.9
astroid>=3.3.11

# Package dependency management tools
pipdeptree>=2.28.0
pip-check-reqs>=2.5.6



# ------------------------------------------------------------------------------
# Indirect dependencies for development that are needed for some reason.
# Must be consistent with minimum-constraints-develop.txt.
